<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextGen business-consulting</title>
    <!-- fontAwsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- googleFonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"> 
    <!-- css -->
    <link rel="stylesheet" href="dist/style.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
</head>

<body>
    <!-- div.root per collegamento vue -->
    <div id="root">
        <!-- l'header avrà img bg e diviso in tra sezioni, comprensivo di hero -->
        <header>
            <nav class="secondary-nav">
                <div class="container d-flex">
                    <div class="business-hours d-flex">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <p>Open Hours: Mon - Sat 9:00 - 18:00</p> 
                    </div>
                    <div class="blank-space">                    
                    </div>
                    <!--  verrà stampata con vue tramite v-for :class x icon -->
                    <div class="company-info">
                        <ul>
                            <li v-for="el in companyData" v-if="el.show_header">
                                    <i class="fa" :class="el.icon" v-if="el.icon" aria-hidden="true"></i>
                                    <p>{{el.text}}</p> 

                                    <a v-for="el in el.social_link" :href="el.link"> <i class="fa" :class="el.icon" aria-hidden="true"></i></a>                     
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- link tramite ciclo v-for: a parti main relative -->
            <nav class="primary-nav">
                <div class="container d-flex">
                    <div class="logo-box">
                        <div class="logo">
                            <span class="logo-p1 logo-hover">
                                NEXT
                            </span>
                            <span class="logo-p2">
                                GEN
                            </span>                        
                        </div>                    
                    </div>
                    <div class="blank-space">                    
                    </div>
                    <!-- verrà stampata con vue tramite v-for -->
                    <ul>
                        <li v-for="el in navBarLinks">
                            <a :href="el.link">                                
                                <i class="fa" class="fa" :class="el.icon"></i>
                                {{el.text}}
                            </a>                                                    
                        </li>                        
                        <button class="btn-default btn-blue"> get in touch </button>
                    </ul>
                </div>
            </nav>
            <div class="hero container d-flex">
                <div class="centered-content">
                    <h1 class="hero-title extra-marg">Financial Risk</h1>
                    <p class="extra-marg">The right outcomes depend on continuous rigor in governance, models, and processes across the finance function.</p>
                    <button class="btn-default">get in touch</button>
                    <button class="btn-default btn-blue">read more</button>
                </div>
            </div>
        </header>
        <!-- main: comprende 7 sezioni riconoscibili da titolo composto da nome sezione con cover -->
        <main>
            <!--1 sezione performance -->
            <section class="performance container">
                    <div class="centered-content">
                        <h4>introduction video</h4>
                        <div class="section-title">
                            <span>
                                <h1>Advisory</h1>
                            </span>
                            <span class="hover-title light">
                                <h1>Performance</h1>
                            </span>
                        </div>
                        <!-- cambio testo -->
                        <p>The right outcomes depend on continuous rigor in governance, models, and processes across the finance function.</p>                         
                    </div>
                    <div class="video-box">
                        <img src="src/images/video-1.jpg" alt="video preview">
                        <span class="play-icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </span>
                        <span class=" play-icon hover-icon">
                            <i class="fa fa-play" aria-hidden="true"></i>
                        </span>
                    </div>   
            </section>
            <!-- 2 sezione results -->
            <section class="results">
                <div class=" container centered-content">
                    <h4>what are we doing</h4>
                    <div class="section-title">
                        <span class="hover-title dark">
                            <h1>Results</h1>
                        </span>
                        <span>
                            <h1>in Number</h1>
                        </span>
                    </div>
                </div>
                <!-- stampa tramite vue v-for array oggetti numero + title -->
                <!-- sistemo padding row in linea con container -->
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <h2>128</h2>
                            <p>Certifications</p>
                        </div>
                        <div class="col-3">
                            <h2>128</h2>
                            <p>Certifications</p>
                        </div>
                        <div class="col-3">
                            <h2>128</h2>
                            <p>Certifications</p>
                        </div>
                        <div class="col-3">
                            <h2>128</h2>
                            <p>Certifications</p>
                        </div>
                    </div>
                </div>   
            </section>
            <!-- 3 sezione services id per collegamento link vue -->
            <section class="services " id="services">
                <div class="container">
                    <h4>our business area</h4>
                    <div class="section-title">
                        <span>
                            <h1>Excellences in</h1>
                        </span>
                        <span class="hover-title dark">
                            <h1>Services</h1>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <p>we are leaders in providing consultancing services with a set of cutting-edge technologies and a team of experienced and renowed professionals. There are some options that you can hire.</p>
                        </div>
                        <div class="col-4 btn-box">
                            <div class="d-flex">
                                <div class="blank-space"></div>
                                <button class="btn-default">see all</button>
                            </div>                       
                        </div>
                    </div>
                    <div class="row wrap-col">
                        <div class="col-4 d-flex ">
                            <div class="card">
                                <div class="card-text">
                                    <i class="fa fa-sitemap" aria-hidden="true"></i>
                                    <h3>Audit and Assurance</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                                <div class="card-i d-flex">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                            </div>                       
                        </div>
                        <div class="col-4 d-flex wrap-col">
                            <div class="card">
                                <div class="card-text">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                                    <h3>Financial Advisoring</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                                <div class="card-i d-flex">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                            </div>                       
                        </div>
                        <div class="col-4 d-flex wrap-col">
                            <div class="card">
                                <div class="card-text">
                                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                    <h3>Analytics and M&Aand</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                                <div class="card-i d-flex">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                            </div>                       
                        </div>
                        <div class="col-4 d-flex wrap-col">
                            <div class="card">
                                <div class="card-text">
                                    <i class="fa fa-plane" aria-hidden="true"></i>
                                    <h3>Middle Marketing</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                                <div class="card-i d-flex">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                            </div>                       
                        </div>
                        <div class="col-4 d-flex wrap-col">
                            <div class="card">
                                <div class="card-text">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                    <h3>Legal Consulting</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                                <div class="card-i d-flex">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                            </div>                       
                        </div>
                        <div class="col-4 d-flex wrap-col">
                            <div class="card">
                                <div class="card-text">
                                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                    <h3>Regulatory Risk</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                                <div class="card-i d-flex">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </div>
                            </div>                       
                        </div>
                    </div>
                </div>
                
            </section>
            <!-- 4 sezione team -->
            <section class="team">
                <div class="container">
                    <h4>we like what we do</h4>
                    <div class="row">
                        <div class="col-9">
                            <div class="section-title">
                                <span class="hover-title light">
                                    <h1>Team</h1>
                                </span>
                                <span>
                                    <h1>of Experts</h1>
                                </span>
                            </div>
                            <p>Ethics and integrity are the bases on which our professionals built their careers.</p>
                            <p>They are fundamentals that bacome daily attitudes.</p>
                            <div class="row wrap-col">
                                <div class="col-6">
                                    <div class="card team-card">
                                        <div class="team-pic">
                                            <img src="src/images/team-1.jpg" alt="profile picture">
                                        </div>
                                        <div class="team-info d-flex-col">
                                            <h3>David Cooper</h3>
                                            <h4>CTO & co-founder</h4>
                                            <div class="team-social d-flex">
                                                <!-- d-flex per icon -->
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                </span>
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                </span>
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card team-card">
                                        <div class="team-pic">
                                            <img src="src/images/team-3.jpg" alt="profile picture">
                                        </div>
                                        <div class="team-info d-flex-col">
                                            <h3>Oliver Jones</h3>
                                            <h4>chief procurement</h4>
                                            <div class="team-social d-flex">
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                </span>
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                </span>
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card team-card">
                                        <div class="team-pic">
                                            <img src="src/images/team-2.jpg" alt="profile picture">
                                        </div>
                                        <div class="team-info d-flex-col">
                                            <h3>Emma Lopez</h3>
                                            <h4>chief marketing</h4>
                                            <div class="team-social d-flex">
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                </span>
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                </span>
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card team-card">
                                        <div class="team-pic">
                                            <img src="src/images/team-4.jpg" alt="profile picture">
                                        </div>
                                        <div class="team-info d-flex-col">
                                            <h3>T. Johnson</h3>
                                            <h4>CEO and president</h4>
                                            <div class="team-social d-flex">
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                </span>
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                </span>
                                                <span class="i-cover">
                                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="card speech-card">
                                <h3>President Speech</h3>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum similique pariatur ea.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quos nobis ipsum quibusdam quas repellat natus autem necessitatibus voluptate! Quae molestias porro nulla.</p>
                                <div class="d-flex">
                                    <span>T.Johnson</span>
                                    <span class="blank-space"></span>
                                    <span>
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </span>

                                </div>
                                
                                
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <!-- 5 sezione news -->
            <section class="news">
                <div class="container">
                    <h4>our editorial content</h4>
                    <div class="section-title">
                        <span>
                            <h1>Latest</h1>
                        </span>
                        <span class="hover-title light">
                            <h1>News</h1>
                        </span>
                    </div>
                    <div class="d-flex">
                        <p>Every week we push content about what is best in the business world.</p>
                        <div class="blank-space">

                        </div>
                        <button class="btn-default btn-blue">see all</button>
                    </div>
                    <div class="row">

                        <div class="card news-card">
                            <img src="src/images/news-1.jpg" alt="girl writing notes">
                            <div class="layover">
                                <h3>increasing creativity is possible for everyone</h3>
                            </div>
                            <div class="news-hover d-flex-col">
                                <div class="d-flex">
                                    <i class="fa fa-user mgr" aria-hidden="true mgr"></i>
                                    <p>Andrea Miller</p>
                                    <i class="fa fa-clock-o mgr mgl" aria-hidden="true"></i>
                                    <p>2 Days ago</p>
                                </div>
                                <div class="blank-space">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, delectus.</p>

                            </div>
                        </div>


                        <div class="card news-card">
                            <img src="src/images/news-2.jpg" alt="boy staring in the sun">
                            
                            <div class="layover">
                                <h3>because market research is part of the business plan</h3>
                            </div>
                            <div class="news-hover d-flex-col">
                                <div class="d-flex">
                                    <i class="fa fa-user mgr" aria-hidden="true"></i>
                                    <p>Andrea Miller</p>
                                    <i class="fa fa-clock-o mgr mgl" aria-hidden="true"></i>
                                    <p>2 Days ago</p>
                                </div>
                                <div class="blank-space">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, delectus.</p>
                            </div>

                        </div>


                        <div class="card news-card">
                            <img src="src/images/news-3.jpg" alt="girl looking at the phen">
                            <div class="layover">
                                <h3>working from home is now a trend</h3>
                            </div>                            
                            <div class="news-hover d-flex-col">
                                <div class="d-flex">
                                    <i class="fa fa-user mgr" aria-hidden="true"></i>
                                    <p>Andrea Miller</p>
                                    <i class="fa fa-clock-o mgr mgl" aria-hidden="true"></i>
                                    <p>2 Days ago</p>
                                </div>
                                <div class="blank-space">
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, delectus.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- 6 sezione knows -->
            <section class="knows">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h4>we like what we do</h4>
                            <div class="section-title">
                                <span class="hover-title dark">
                                    <h1>Know</h1>
                                </span>
                                <span>
                                    <h1>First</h1>
                                </span>
                            </div>
                            <p>Follow closely and receive content about our company and the news of the current market</p>
                        </div>
                        <div class="col-4">
                            <div class="my-form f-dark">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Email">
                                <div class="d-flex">
                                    <button class="btn-default btn-blue">subscribe</button>
                                    <span class="blank-space"></span>
                                </div>
                                
                            </div>                        
                        </div>
                        <div class="col-2">
                            <!-- solo per layout -->
                        </div>

                    </div>

                </div>

            </section>
            <!-- 7 sezione touch
            <section>

            </section> -->
        </main>
        <!-- mantenendo proporzioni header footer ha due section-->
        <footer>
                
                <div class="primary-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <div class="logo-box">
                                    <div class="logo">
                                        <span class="logo-p1 logo-hover">
                                            NEXT
                                        </span>
                                        <span class="logo-p2">
                                            GEN
                                        </span>                        
                                    </div>                    
                                </div>
                                <div class="company-info">
                                    <ul>
                                        <li v-for="el in companyData" v-if="el.show_footer" class="d-flex">
                                                <i class="fa" :class="el.icon" v-if="el.icon" aria-hidden="true"></i>
                                                <p>{{el.text}}</p> 
            
                                                <a v-for="el in el.social_link" :href="el.link"> <i class="fa" :class="el.icon" aria-hidden="true"></i></a>                     
                                        </li>
                                        <button class="btn-default"> get in touch</button>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-9">
                                <div class="d-flex">
                                    <!-- verranno stampate 3 card con lista tramite v-for -->                                    
                                    <div class="card footer-card" v-for="el in footerLinks">
                                                                               
                                        <h3>{{el.title}}</h3>
                                        <ul>
                                            <li v-for="el in el.title_list">
                                                <i class="fa" :class="el.icon" aria-hidden="true"></i>
                                                <a href="#">{{el.text}}</a>
                                            </li>
                                        </ul>

                                    </div>                          
                                </div>                            
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="secondary-footer">
                    <div class="container">  
                        <div class="d-flex">
                            <div>
                                <p>Enjoy the low price. We are tracking any intention of piracy </p>
                            </div>
                            <div class="blank-space"></div>
                            <div> 
                                <p>
                                    &copy 2020 NEXGEN is Proudly Powered by <span class="blue">Codings</span>.
                                </p> 
                            </div>
                        </div>
                    </div>
                </div>
        </footer>
    </div>

    <script src="scripts/app.js"></script>
    
</body>
</html>