.btn-default {
    text-transform: uppercase;
    color: $primary_color_white;
    text-decoration: none;
    transition: color $transition_duration;
    border: 2px solid $primary_color_blue;
    border-radius: $sm-radius;
    padding: ($spacing/2) $spacing;

    &:hover {
        color: $primary_color_blue;
    }
}