.btn-default {
    text-transform: uppercase;
    color: $primary_color_white;
    text-decoration: none;
    transition: background-color $transition_duration;
    border: 2px solid $primary_color_blue;
    border-radius: $sm-radius;
    padding: ($spacing/2) $spacing;
    background-color: transparent;
    min-width: 35px;

    &:hover {
        background-color: $primary_color_blue;
        cursor: pointer;
    }
}