.btn-default {
    text-transform: uppercase;
    color: $primary_color_white;
    text-decoration: none;
    transition: $transition_duration;
    border: 2px solid $primary_color_blue;
    border-radius: $sm-radius;
    padding: ($spacing/2) $spacing;
    background-color: transparent;
    min-width: 120px;
    &.btn-blue {
        background-color: $primary_color_blue;
    }
    &.font-blue{
        color: $primary_color_blue;

    }

    &:hover {
        background-color: $primary_color_blue;
        cursor: pointer;
        &.btn-blue {
            transform: scale(1.1, 1.1);

        }
        &.font-blue{
            color: $primary_color_white;
        }
    }
}

//cover per span
.i-cover{
    display: flex;
    justify-content: center;
    width: 35px;
    height: 35px;
    align-items: center;
    border-radius: 50%;
    background-color: $secondary_color_blue;
    margin: $spacing / 2;
    a {                
        color: $primary_color_blue;
        i {
            font-size: $font_size * 1.2;    
        }
        
    }
}