header{
    background-image: url('../images/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.secondary-nav{
    background-color: $secondary_color_dark;   
    font-size: 12px;
    color: $secondary_color_white;
}
.primary-nav{
    height: ($spacing * 2) * 2;   
}
ul {
    margin-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        &:hover{
            transform: scale(1.2, 1.2);
        }  
         a {
            display: inline-block;
            padding: $spacing;
            color: $primary_color_white;
            text-decoration: none;
            i {
                margin-right: $spacing / 3;
            }
        }
    }
    
}
.hero {
    min-height: 600px;
    .centered-content{
    color: $secondary_color_white;
        button{
            margin: $spacing ($spacing / 2);
        }
    }

}