// section 1 : PERFORMANCE
.performance{
    .video-box{
        position: relative;
        margin: auto;
        width: 60%;
        max-height: 350px;
        padding: 2* $spacing;
        
        img{
            width: 100%;
            object-fit: cover;
            border-radius: $sm-radius;
        }
        .play-icon{
            position: absolute;
            display: inline-block;
            width: 3 * $spacing;
            height: 3 * $spacing;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $primary_color_blue_transp;
            &.hover-icon{
                color: $secondary_color_blue;
                transform: translate(-45%, -43%);

            }
            &:hover{
                cursor: pointer;
            }
            i {
                font-size: 2 * $font_size;
            }
           
        }
    }
}
//section 2 : RESULTS
.results{
    background-image: url('../images/bg-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    .section-title{
        color: $primary_color_white;
    }
    .row{
        justify-content: space-around;
        p{
            text-align: center;
            color: $primary_color_white;
        }
        h2{
            text-align: center;
            color: $primary_color_blue;
        }
    }
}
//section 3 : SERVICES
.services {
    background-color: $primary_color_black;
    p {
        color: $secondary_color_white;
    }
    .card {
        background-color: $secondary_color_dark_gray;
        color: $primary_color_white;
        margin: $spacing;
        &:hover{
            transform: scale(1.1);
        }
        .card-text {
            h3 {
                color: $primary_color_white;
                text-transform: capitalize;
            }
            i{
                font-size: 2 * $font_size;
                color: $primary_color_blue;
            }
        }
        .card-i{
            height: 1.3 * $spacing;
            width: 1.3 * $spacing;
            padding: $spacing;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            transition: background-color $transition_duration;
            &:hover{
                background-color: $primary_color_blue;
                cursor: pointer;
            }            
        }
    }
    
}
//section 4 : TEAM
.team{
    .team-pic{
        height: 160px;
        width: 140px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $sm-radius;
        }
    }
    .team-info{
        justify-content: space-around;
        align-items: center;
        padding: $spacing;

        h1{
            font-size: $font_size * 1.2;
        }
        h4{
            font-size: $font_size;
            color: $secondary_color_dark_gray;
            font-weight: 400;
        }
        
        .team-social{
            justify-content: space-around;
            
            .i-cover{
                display: flex;
                justify-content: center;
                width: 35px;
                height: 35px;
                align-items: center;
                border-radius: 50%;
                background-color: $secondary_color_blue;
                margin: $spacing / 2;
                a {                
                    color: $primary_color_blue;
                    i {
                        font-size: $font_size * 1.2;    
                    }
                    
                }
            }
        }
    }
    .speech-card{
        flex-direction: column;
        background-color: $primary_color_blue;
        color: $secondary_color_white;
        height: 100%;
        justify-content: space-around;
        h3 {
            color: $primary_color_white;
        }
        span {
            display: inline-block;
            color: $primary_color_white;
            i {
                font-size: 1.5 * $font_size;
                color: $secondary_color_dark
            }
        }
        
    }
}
//section 5 : NEWS
.news {
    background-color: $bg_color_grey;
    .news-card {
        width: calc((100% / 12) * 4);
        position: relative;
        height: 250px; 
        padding: 0;
        margin: $spacing;
        transition: $transition_duration;            
        img {
            border-radius: $lg-radius;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h3 {
            position: absolute;
            display: inline-block;
            text-align: center;
            bottom: $spacing * 1.5;
            color: $primary_color_white;
            padding: 1.2 * $spacing;
        }
        &:hover{
            h3 {
                bottom: $spacing * 5;
                z-index: 2;
            }
        }
        .news-hover{
            opacity: 0;
            padding: $spacing / 2;
            color: $secondary_color_white;
            align-items: center;
            position: absolute;
            width: 100%;
            height: 100%;
            transition: $transition_duration; 
            p {
                text-align: center
            };
            &:hover {
                opacity: 1;
            }
        }
        .layover{
            border-radius: $lg-radius;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgb(25 25 31 / 54%);
        }
    }
}
//section 6: KNOWS       
.knows {
    background-color: $primary_color_black;
    p {
        color: $secondary_color_white;
    }
}