
/* Variabili necessarie colori: */
$primary_color_white: #ffffff;
$primary_color_dark: #111117;
$primary_color_blue: #048383;
$secondary_color_dark: #21333E;

/* Spaziatura per padding e margin */
$spacing: 15px;

/*font*/
$line_height: 1.5;
$font_family: 'Montserrat', sans-serif;
$font_size: 16px;

$transition_duration: 0.4s;

/* border-radius */
$sm-radius: 2px;
$lg-radius: 6px;