
/* Variabili necessarie colori: */
$primary_color_white: #ffffff;
$primary_color_dark: #111117;
$primary_color_blue: #098081;
$primary_color_black: #111117;
$secondary_color_dark: #21333E;
$primary_color_blue_transp: rgba(96, 169, 173, 0.6);
$secondary_color_white: rgb(188, 189, 189);
$secondary_color_blue: #DAECED;
$secondary_color_dark_gray: #19191F;
$secondary_color_dark_gray_transp: rgba(25, 25, 31, 0.2);
$bg_color_grey: #e7eee9;
$secondary_color_white_transp: rgba(56, 56, 56, 0.8);

/* Spaziatura per padding e margin */
$spacing: 15px;

/*font*/
$line_height: 1.5;
$font_family: 'Montserrat', sans-serif;
$font_size: 16px;

$transition_duration: 0.4s;

/* border-radius */
$sm-radius: 4px;
$lg-radius: 8px;